In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/last_comix_characters_info.csv')
df

,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,Alfred Pennyworth,good,Male,blue,Human,Black,DC Comics,-,178,72
1,Ant-Man,good,Male,blue,Human,Blond,Marvel Comics,-,211,122
2,Anti-Venom,-,Male,blue,Symbiote,Blond,Marvel Comics,-,229,358
3,Aqualad,good,Male,blue,Atlantean,Black,DC Comics,-,178,106
4,Aquaman,good,Male,blue,Atlantean,Blond,DC Comics,-,185,146
...,...,...,...,...,...,...,...,...,...,...
117,Wolverine,good,Male,blue,Mutant,Black,Marvel Comics,-,160,135
118,Wonder Woman,good,Female,blue,Amazon,Black,DC Comics,-,183,74
119,X-23,good,Female,green,Mutant / Clone,Black,Marvel Comics,-,155,50
120,Yoda,good,Male,brown,Yoda's species,White,George Lucas,green,66,17
121,Zoom,bad,Male,red,-,Brown,DC Comics,-,185,81

In [3]:
# Dropping duplicates based on specified columns
df_dropped = df.drop_duplicates(subset=['Alignment', 'Gender', 'EyeColor', 'Race', 'HairColor', 'Publisher', 'SkinColor'])

# Displaying the first few rows of the modified dataframe
df_dropped

,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,Alfred Pennyworth,good,Male,blue,Human,Black,DC Comics,-,178,72
1,Ant-Man,good,Male,blue,Human,Blond,Marvel Comics,-,211,122
2,Anti-Venom,-,Male,blue,Symbiote,Blond,Marvel Comics,-,229,358
3,Aqualad,good,Male,blue,Atlantean,Black,DC Comics,-,178,106
4,Aquaman,good,Male,blue,Atlantean,Blond,DC Comics,-,185,146

In [4]:
df_dropped

,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,Alfred Pennyworth,good,Male,blue,Human,Black,DC Comics,-,178,72
1,Ant-Man,good,Male,blue,Human,Blond,Marvel Comics,-,211,122
2,Anti-Venom,-,Male,blue,Symbiote,Blond,Marvel Comics,-,229,358
3,Aqualad,good,Male,blue,Atlantean,Black,DC Comics,-,178,106
4,Aquaman,good,Male,blue,Atlantean,Blond,DC Comics,-,185,146
...,...,...,...,...,...,...,...,...,...,...
115,Wasp,good,Female,blue,Human,Auburn,Marvel Comics,-,163,50
117,Wolverine,good,Male,blue,Mutant,Black,Marvel Comics,-,160,135
119,X-23,good,Female,green,Mutant / Clone,Black,Marvel Comics,-,155,50
120,Yoda,good,Male,brown,Yoda's species,White,George Lucas,green,66,17
121,Zoom,bad,Male,red,-,Brown,DC Comics,-,185,81

In [5]:
df_dropped.to_csv('data/T_comix_characters_no_duplicates.csv', index=False)